In [2]:
import pandas as pd
import numpy as np

In [20]:
df_sat = pd.read_csv("../data/sat_2019_ca.csv")
print(df_sat.shape)
#df_sat['CCode'].sort_values() #2018-2019
df_sat.head() #2018-2019

(2580, 26)

,CDS,CCode,CDCode,SCode,RType,SName,DName,CName,Enroll12,NumTSTTakr12,...,NumERWBenchmark11,PctERWBenchmark11,NumMathBenchmark11,PctMathBenchmark11,TotNumBothBenchmark12,PctBothBenchmark12,TotNumBothBenchmark11,PctBothBenchmark11,Year,Unnamed: 25
0,6.615981e+12,6.0,661598.0,630046.0,S,Colusa Alternative Home,Colusa Unified,Colusa,18.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
1,6.616061e+12,6.0,661606.0,634758.0,S,Maxwell Sr High,Maxwell Unified,Colusa,29.0,10.0,...,*,*,*,*,*,*,*,*,2018-19,NaN
2,1.964733e+13,19.0,1964733.0,1930924.0,S,Belmont Senior High,Los Angeles Unified,Los Angeles,206.0,102.0,...,42,24.14,12,6.90,14,13.73,11,6.32,2018-19,NaN
3,1.964733e+13,19.0,1964733.0,1931476.0,S,Canoga Park Senior High,Los Angeles Unified,Los Angeles,227.0,113.0,...,97,35.27,37,13.45,18,15.93,35,12.73,2018-19,NaN
4,1.964733e+13,19.0,1964733.0,1931856.0,S,Whitman Continuation,Los Angeles Unified,Los Angeles,18.0,14.0,...,*,*,*,*,*,*,*,*,2018-19,NaN

In [29]:
#drop unnecessary columns
df_sat.drop(['PctMathBenchmark11','TotNumBothBenchmark12', 'PctBothBenchmark12','TotNumBothBenchmark11','PctBothBenchmark11', 
             'Year', 'Unnamed: 25'], axis = 1)

,CDS,CCode,CDCode,SCode,RType,SName,DName,CName,Enroll12,NumTSTTakr12,NumERWBenchmark12,PctERWBenchmark12,NumMathBenchmark12,PctMathBenchmark12,Enroll11,NumTSTTakr11,NumERWBenchmark11,PctERWBenchmark11,NumMathBenchmark11
0,6.615981e+12,6.0,661598.0,630046.0,S,Colusa Alternative Home,Colusa Unified,Colusa,18.0,0.0,NaN,NaN,NaN,NaN,18.0,0.0,NaN,NaN,NaN
1,6.616061e+12,6.0,661606.0,634758.0,S,Maxwell Sr High,Maxwell Unified,Colusa,29.0,10.0,*,*,*,*,26.0,6.0,*,*,*
2,1.964733e+13,19.0,1964733.0,1930924.0,S,Belmont Senior High,Los Angeles Unified,Los Angeles,206.0,102.0,31,30.39,14,13.73,219.0,174.0,42,24.14,12
3,1.964733e+13,19.0,1964733.0,1931476.0,S,Canoga Park Senior High,Los Angeles Unified,Los Angeles,227.0,113.0,54,47.79,18,15.93,333.0,275.0,97,35.27,37
4,1.964733e+13,19.0,1964733.0,1931856.0,S,Whitman Continuation,Los Angeles Unified,Los Angeles,18.0,14.0,*,*,*,*,17.0,5.0,*,*,*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2575,5.772678e+13,57.0,5772678.0,0.0,D,NaN,Davis Joint Unified,Yolo,717.0,307.0,293,95.44,274,89.25,739.0,474.0,454,95.78,428
2576,7.000000e+12,7.0,700000.0,0.0,C,NaN,NaN,Contra Costa,14593.0,5412.0,3798,70.18,2814,52.00,14120.0,5157.0,4583,88.87,3933
2577,1.700000e+13,17.0,1700000.0,0.0,C,NaN,NaN,Lake,667.0,167.0,123,73.65,71,42.51,731.0,126.0,94,74.60,50
2578,3.800000e+13,38.0,3800000.0,0.0,C,NaN,NaN,San Francisco,4447.0,2256.0,1579,69.99,1380,61.17,4500.0,2042.0,1702,83.35,1566
2579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df_sat.head()

,CDS,CCode,CDCode,SCode,RType,SName,DName,CName,Enroll12,NumTSTTakr12,...,NumERWBenchmark11,PctERWBenchmark11,NumMathBenchmark11,PctMathBenchmark11,TotNumBothBenchmark12,PctBothBenchmark12,TotNumBothBenchmark11,PctBothBenchmark11,Year,Unnamed: 25
0,6.615981e+12,6.0,661598.0,630046.0,S,Colusa Alternative Home,Colusa Unified,Colusa,18.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
1,6.616061e+12,6.0,661606.0,634758.0,S,Maxwell Sr High,Maxwell Unified,Colusa,29.0,10.0,...,*,*,*,*,*,*,*,*,2018-19,NaN
2,1.964733e+13,19.0,1964733.0,1930924.0,S,Belmont Senior High,Los Angeles Unified,Los Angeles,206.0,102.0,...,42,24.14,12,6.90,14,13.73,11,6.32,2018-19,NaN
3,1.964733e+13,19.0,1964733.0,1931476.0,S,Canoga Park Senior High,Los Angeles Unified,Los Angeles,227.0,113.0,...,97,35.27,37,13.45,18,15.93,35,12.73,2018-19,NaN
4,1.964733e+13,19.0,1964733.0,1931856.0,S,Whitman Continuation,Los Angeles Unified,Los Angeles,18.0,14.0,...,*,*,*,*,*,*,*,*,2018-19,NaN

In [8]:
#Snake case all headings
new_sat_cols = {
    'CDS':'sat_cds', 'CCode':'sat_ccode', 'CDCode':'sat_cdcode'
    
}

In [4]:
df_act = pd.read_csv("../data/act_2019_ca.csv")
print(df_act.shape)
df_act['CCode'].sort_values() #2018-2019
#df_act.head() #2018-2019

(2310, 18)

2070     0.0
1809     1.0
578      1.0
599      1.0
619      1.0
        ...
957     58.0
2268    58.0
1642    58.0
1643    58.0
2309     NaN
Name: CCode, Length: 2310, dtype: float64

In [5]:
df_ada1 = pd.read_csv("../data/sht1_ca_ada_currentexpense1819.csv")
df_ada1.head()

,CO Code,District Code,District,EDP 365,Current\nExpense ADA,Current\nExpense Per ADA,LEA Type
0,1,61119,Alameda Unified,"117,225,882.50","8,968.85","13,070.34",Unified
1,1,61127,Albany City Unified,"46,611,059.59","3,544.52","13,150.18",Unified
2,1,61143,Berkeley Unified,"159,457,818.49","9,356.44","17,042.57",Unified
3,1,61150,Castro Valley Unified,"102,239,937.34","8,940.20","11,435.98",Unified
4,1,61168,Emery Unified,"12,504,023.21",681.82,"18,339.19",Unified

In [6]:
df_ada2 = pd.read_csv("../data/sht2_ca_ada_currentexpense1819.csv")
df_ada2.head()

      County           EDP 365 Current Expense\nADA Current\nExpense Per\nADA
0    Alameda  2,545,839,027.30           192,941.20                 13,194.90
1     Alpine      3,202,880.16                74.47                 43,009.00
2     Amador     36,092,488.90             3,775.31                  9,560.14
3      Butte    322,995,666.90            25,905.57                 12,468.19
4  Calaveras     59,126,582.49             4,515.02                 13,095.53

In [7]:
# Merge on CName? or CCode?  CCode range is 1:58 on all