In [1]:
import pandas as pd
import numpy as np

In [2]:
#Data Dictionary: https://www.cde.ca.gov/ds/sp/ai/reclayoutact19.asp
#Source: https://www.cde.ca.gov/ds/sp/ai/

df_act = pd.read_csv("../data/act_2019_ca.csv")
print(df_act.shape)
#df_act['CCode'].sort_values() #2018-2019
df_act.head() #2018-2019

(2310, 18)

,CDS,CCode,CDCode,SCode,RType,SName,DName,CName,Enroll12,NumTstTakr,AvgScrRead,AvgScrEng,AvgScrMath,AvgScrSci,NumGE21,PctGE21,Year,Unnamed: 17
0,3.366993e+13,33.0,3366993.0,129882.0,S,21st Century Learning Institute,Beaumont Unified,Riverside,18.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
1,1.964212e+13,19.0,1964212.0,1995596.0,S,ABC Secondary (Alternative),ABC Unified,Los Angeles,58.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
2,1.563776e+13,15.0,1563776.0,1530377.0,S,Abraham Lincoln Alternative,Southern Kern Unified,Kern,18.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
3,4.369666e+13,43.0,4369666.0,4333795.0,S,Abraham Lincoln High,San Jose Unified,Santa Clara,463.0,53.0,23,22,22,23,34,64.15,2018-19,NaN
4,1.964733e+13,19.0,1964733.0,1935121.0,S,Abraham Lincoln Senior High,Los Angeles Unified,Los Angeles,226.0,19.0,21,20,23,22,11,57.89,2018-19,NaN

In [11]:
try:
    df_act = df_act.drop(labels = ['CDS', 'Unnamed: 17'] , axis = 1)
except:
    print("Failed Column Drop")
df_act.head()

Failed Column Drop

,CCode,CDCode,SCode,RType,SName,DName,CName,Enroll12,NumTstTakr,AvgScrRead,AvgScrEng,AvgScrMath,AvgScrSci,NumGE21,PctGE21,Year
0,33.0,3366993.0,129882.0,S,21st Century Learning Institute,Beaumont Unified,Riverside,18.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19
1,19.0,1964212.0,1995596.0,S,ABC Secondary (Alternative),ABC Unified,Los Angeles,58.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19
2,15.0,1563776.0,1530377.0,S,Abraham Lincoln Alternative,Southern Kern Unified,Kern,18.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19
3,43.0,4369666.0,4333795.0,S,Abraham Lincoln High,San Jose Unified,Santa Clara,463.0,53.0,23,22,22,23,34,64.15,2018-19
4,19.0,1964733.0,1935121.0,S,Abraham Lincoln Senior High,Los Angeles Unified,Los Angeles,226.0,19.0,21,20,23,22,11,57.89,2018-19

In [12]:
# Rename column labels with snake casing


df_act_map = { 'CCode':'act_ccode', 'CDCode':'act_cdcode', 'SCode':'act_scode', 'RType':'act_rtype', 
              'SName':'act_sname', 'DName':'act_dname', 'CName':'act_dname', 'Enroll12':'act_enroll12',
              'NumTstTakr':'act_numtsttakr', 'AvgScrRead':'act_avgscrread', 'AvgScrEng':'act_avgscreng',
              'AvgScrMath':'act_avgscrmath', 'AvgScrSci':'act_avgscrsci', 
              'NumGE21':'act_numge21', 'PctGE21':'act_pctge21', 'Year':'act_year'
}
df_act.rename(mapper = df_act_map, axis = 1)

In [13]:
df_act.rename(mapper = df_act_map, axis = 1)

,act_ccode,act_cdcode,act_scode,act_rtype,act_sname,act_dname,act_dname,act_enroll12,act_numtsttakr,act_avgscrread,act_avgscreng,act_avgscrmath,act_avgscrsci,act_numge21,act_pctge21,act_year
0,33.0,3366993.0,129882.0,S,21st Century Learning Institute,Beaumont Unified,Riverside,18.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19
1,19.0,1964212.0,1995596.0,S,ABC Secondary (Alternative),ABC Unified,Los Angeles,58.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19
2,15.0,1563776.0,1530377.0,S,Abraham Lincoln Alternative,Southern Kern Unified,Kern,18.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19
3,43.0,4369666.0,4333795.0,S,Abraham Lincoln High,San Jose Unified,Santa Clara,463.0,53.0,23,22,22,23,34,64.15,2018-19
4,19.0,1964733.0,1935121.0,S,Abraham Lincoln Senior High,Los Angeles Unified,Los Angeles,226.0,19.0,21,20,23,22,11,57.89,2018-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2305,58.0,5810587.0,5830112.0,S,Yuba County Career Preparatory Charter,Yuba County Office of Education,Yuba,102.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19
2306,36.0,3667959.0,3638509.0,S,Yucaipa High,Yucaipa-Calimesa Joint Unified,San Bernardino,628.0,61.0,24,22,22,22,40,65.57,2018-19
2307,36.0,3667777.0,3638616.0,S,Yucca Valley High,Morongo Unified,San Bernardino,314.0,11.0,*,*,*,*,*,*,2018-19
2308,36.0,3667850.0,3630530.0,S,Zupanic High,Rialto Unified,San Bernardino,47.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19
2309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_ada = pd.read_csv("../data/sht1_ca_ada_currentexpense1819.csv")
df_ada.head()

,CO Code,District Code,District,EDP 365,Current\nExpense ADA,Current\nExpense Per ADA,LEA Type
0,1,61119,Alameda Unified,"117,225,882.50","8,968.85","13,070.34",Unified
1,1,61127,Albany City Unified,"46,611,059.59","3,544.52","13,150.18",Unified
2,1,61143,Berkeley Unified,"159,457,818.49","9,356.44","17,042.57",Unified
3,1,61150,Castro Valley Unified,"102,239,937.34","8,940.20","11,435.98",Unified
4,1,61168,Emery Unified,"12,504,023.21",681.82,"18,339.19",Unified

In [6]:
# Merge on CName? or CCode?  CCode range is 1:58 on all
#SCode would be more useful (school code) *There is no scode in ADA expense report*
# Merge on District Code because there are a lot more districts than counties
# Look up using percentile to normalize between two data sets and
# merge the two.

#The sat california data set doesn't have actual scores, it just has the benchmarks
#so just use the act data